{{- if eq .chezmoi.os "linux" }}
rofi.font: Iosevka SS08 14
rofi.theme: ~/.config/rofi/solarized.rasi
rofi.modi: drun,run,window,ssh
rofi.width: 24
rofi.lines: 10
rofi.bw: 0
rofi.terminal: alacritty
rofi.sidebar-mode: true
rofi.matching: normal
rofi.display-run: binary
rofi.display-drun: program
rofi.show-icons: true
rofi.cycle: true
rofi.hide-scrollbar: true
rofi.disable-history: false
rofi.display-drun: apps
{{- end }}
