fmp() {
	xinput --set-prop "AlpsPS/2 ALPS GlidePoint" "Synaptics Finger" 1 1 255
	xinput --set-prop 12 "Device Accel Profile" 2
	xinput --set-prop 12 "Synaptics Scrolling Distance" -20 -20
	xinput --set-prop 12 "Synaptics Two-Finger Scrolling" 1 1
}

alias upgrade='sudo apt update; sudo apt full-upgrade; sudo apt autoremove'

alias say='echo "$1" | espeak 2>/dev/null'

alias wakeDesk='wakeonlan -i $homeIP -p 7 $deskMAC'

alias gitconfig='git config --global user.name "João Fernandes"; git config --global user.email "joaovitorfernandes2@gmail.com"'
alias gitstore='git config credential.helper store'

alias bg='tee /sys/class/backlight/intel_backlight/brightness <<<'

AndEmu() {
	emulator -avd "$1" -gpu swiftshader -qemu -enable-kvm
}

