alias vim='nvim'
alias wakeDesk='wakeonlan -i $homeIP -p 7 $deskMAC'
alias gitconfig='git config --global user.name "João Fernandes"; git config --global user.email "joaovitorfernandes2@gmail.com"'
alias gitstore='git config credential.helper store'

