URxvt.scrollBar: false
URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt*font:                 xft:Monaco for Powerline:regular:size=12
URxvt*imFont:               xft:Monaco for Powerline:regular:size=12
URxvt*boldFont:             xft:Monaco for Powerline:bold:size=12
URxvt*italicFont:           xft:Monaco for Powerline:italic:size=12
URxvt*boldItalicFont:       xft:Monaco for Powerline:bold:italic:size=12

xterm*VT100*faceName:  Monaco for Powerline:style=Book:size=12:antialias=false
