URxvt.font: xft:Inconsolata\ for\ Powerline:pixelsize=18
URxvt.scrollBar: false
URxvt.internalBorder:      0
URxvt.externalBorder:      0

xterm*VT100*faceName:  Inconsolata Nerd Font:style=Book:size=14:antialias=false
