PATH=/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin

{{- if not .isWorkComputer }}
0 9-19 * * 1-5 $HOME/.bin/,rates update >> $HOME/.log/cron.log 2>&1
*/10 * * * * $HOME/.bin/,cryptorates update >> $HOME/.log/cron.log 2>&1
{{- end }}

# * * * * * command to be executed
# ┯ ┯ ┯ ┯ ┯
# │ │ │ │ │
# │ │ │ │ ╰───── day of week (0 - 6) (Sunday=0)
# │ │ │ ╰─────── month (1 - 12)
# │ │ ╰───────── day of month (1 - 31)
# │ ╰─────────── hour (0 - 23)
# ╰───────────── min (0 - 59)
