###########
## Shell ##
###########

# Set your language environment
export LANG=en_US.UTF-8

# Set terminal to use 256colors
export TERM="screen-256color"

# ssh
export SSH_KEY_PATH="~/.ssh/id_rsa"

export PATH=$HOME/.bin:$PATH

export NVIM_HOME=$HOME/.config/nvim
export PATH=/usr/local/bin:$PATH

export FZF_DEFAULT_COMMAND='fd --type f'
export FZF_DEFAULT_OPTS='--layout=reverse --inline-info'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export NNN_DE_FILE_MANAGER=open

###############
## Languages ##
###############

# Go
export GOPATH=$HOME/go
export PATH=$GOPATH/bin:$PATH

# protobuff
export PATH=$HOME/.local/share/protoc/bin/protoc:$PATH

# ruby
export RBENV_ROOT="$HOME/.rbenv"
export PATH="$RBENV_ROOT/shims:$PATH"
# lazy load rbenv
if type rbenv > /dev/null; then
  export PATH="${RBENV_ROOT}/bin:${RBENV_ROOT}/shims:${PATH}"
  function rbenv() {
    unset -f rbenv
    eval "$(command rbenv init -)"
    rbenv $@
  }
fi
# lazy load ruby
if type ruby > /dev/null; then
  function ruby() {
    unset -f ruby
    rbenv &>/dev/null
    ruby $@
  }
fi


# python
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
# lazy load pyenv
if type pyenv > /dev/null; then
  export PATH="${PYENV_ROOT}/bin:${PYENV_ROOT}/shims:${PATH}"
  function pyenv() {
    unset -f pyenv
    eval "$(command pyenv init -)"
    pyenv $@
  }
fi
# lazy load python
if type python > /dev/null; then
  function python() {
    unset -f python
    pyenv &>/dev/null
    python $@
  }
fi


# nodenv
export NODENV_ROOT="$HOME/.nodenv"
export PATH="$NODENV_ROOT/bin:$PATH"
# lazy load nodenv
if type nodenv > /dev/null; then
  export PATH="${NODENV_ROOT}/bin:${NODENV_ROOT}/shims:${PATH}"
  function nodenv() {
    unset -f nodenv
    eval "$(command nodenv init -)"
    nodenv $@
  }
fi
# lazy load node
if type node > /dev/null; then
  function node() {
    unset -f node
    nodenv &>/dev/null
    node $@
  }
fi

# flutter
# export FLUTTER_PATH=$HOME/code/sdk/flutter
# export PATH=$FLUTTER_PATH/bin:$PATH

# JS
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

# Android home path for react-native
{{- if eq .chezmoi.os "linux" }}
export ANDROID_HOME=$HOME/Android/Sdk
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
export ANDROID_HOME=$HOME/Library/Android/sdk
{{- end }}
export PATH=$ANDROID_HOME/tools:$PATH
export PATH=$ANDROID_HOME/platform-tools:$PATH
