[user]
  name = João Fernandes
{{- if .isWorkComputer }}
  email = joao.fernandes@engine.com
  signingkey = 50647D5D6C1D1E0FA6AE5E1017BD783DE9222477
{{- else }}
  email = joaofnds@joaofnds.com
  signingkey = 1D7295B27D3BC292068A6533064E0BACE9889F9C
{{- end }}

[format]
  signoff = true

[commit]
  gpgsign = true

[color]
  ui = true

[core]
  excludesFile = ~/.gitignore
  pager = delta

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictStyle = diff3

[github]
  user = joaofnds

[diff]
  algorithm = histogram
  indentHeuristic = true
  colorMoved = default

[pull]
  rebase = true

[rebase]
  autoStash = true

[init]
  defaultBranch = main

[gpg]
  program = {{ output "brew" "--prefix" | trim }}/bin/gpg

[delta]
  navigate = true
  plus-style = "syntax #1a412b"
  minus-style = "syntax #3b3639"
  syntax-theme = "Solarized (dark)"
  true-color = always

[url "git@github.com:"]
  insteadOf = "gh:"
