###########
## Shell ##
###########

# Set your language environment
export LANG=en_US.UTF-8

# Set terminal to use 256colors
export TERM="xterm-256color"

# ssh
export SSH_KEY_PATH="~/.ssh/id_rsa"

export PATH=$HOME/.bin:$PATH

export NVIM_HOME=$HOME/.config/nvim
export PATH=/usr/local/bin:$PATH

export FZF_DEFAULT_COMMAND='fd --type f'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export NNN_DE_FILE_MANAGER=open

{{- if eq .chezmoi.os "linux" }}
export PATH=/home/linuxbrew/.linuxbrew/bin:$PATH
{{- end }}

###############
## Languages ##
###############

# Go
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin

# protobuff
export PATH=$PATH:$HOME/.local/share/protoc/bin/protoc

# ruby
export RBENV_ROOT="$HOME/.rbenv"
export PATH="$RBENV_ROOT/shims:$PATH"
init_rbenv() {
  if command -v rbenv 1>/dev/null 2>&1; then
    eval "$(rbenv init -)"
  fi
}

# python
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
init_pyenv() {
  if command -v pyenv 1>/dev/null 2>&1; then
    eval "$(pyenv init -)"
  fi
}

# nodenv
export NODENV_ROOT="$HOME/.nodenv"
export PATH="$NODENV_ROOT/bin:$PATH"
init_nodenv() {
  if command -v nodenv 1>/dev/null 2>&1; then
    eval "$(nodenv init -)"
  fi
}

# flutter
export FLUTTER_PATH=$HOME/dev/sdk/flutter
export PATH=$FLUTTER_PATH/bin:$PATH

# JS
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

# Android home path for react-native
{{- if eq .chezmoi.os "linux" }}
export ANDROID_HOME=~/Android/Sdk
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
export ANDROID_HOME=~/Library/Android/sdk
{{- end }}
export PATH=$ANDROID_HOME/tools:$PATH
export PATH=$ANDROID_HOME/platform-tools:$PATH
