###########
## Shell ##
###########

# Set your language environment
export LANG=en_US.UTF-8

# Set terminal to use 256colors
export TERM="screen-256color"

# ssh
export SSH_KEY_PATH="~/.ssh/id_rsa"

export PATH=$HOME/.bin:$PATH

export NVIM_HOME=$HOME/.config/nvim
export PATH=/usr/local/bin:$PATH

export FZF_DEFAULT_COMMAND='fd --type f'
export FZF_DEFAULT_OPTS='--layout=reverse --inline-info'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export NNN_DE_FILE_MANAGER=open

###############
## Languages ##
###############

# Go
export GOPATH=$HOME/go
export PATH=$GOPATH/bin:$PATH

# protobuff
export PATH=$HOME/.local/share/protoc/bin/protoc:$PATH

# flutter
# export FLUTTER_PATH=$HOME/code/sdk/flutter
# export PATH=$FLUTTER_PATH/bin:$PATH

# JS
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

# Android home path for react-native
{{- if eq .chezmoi.os "linux" }}
export ANDROID_HOME=$HOME/Android/Sdk
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
export ANDROID_HOME=$HOME/Library/Android/sdk
{{- end }}
export PATH=$ANDROID_HOME/tools:$PATH
export PATH=$ANDROID_HOME/platform-tools:$PATH

# asdf version manager
. $HOME/.asdf/asdf.sh
. $HOME/.asdf/completions/asdf.bash

