alias wakeDesk='wakeonlan -i $homeIP -p 7 $deskMAC'

# files listing
alias list_notes='rg -e "(TODO|FIXME|OPTIMIZE|REVIEW)"'
alias lsfiles='la | rg ^-'
alias lsdirs='la | rg ^d'

# git
alias gbD='git branch --delete $(git branch | fzf -m)'
alias gcof='gco $(git status -s | fzf -m | awk '\''{ print $2  }'\'' )'
alias grf='git reset HEAD $(git status -s | fzf -m | awk '\''{ print $2  }'\'')'
alias gaf='git add $(git status -s | fzf -m | awk '\''{ print $2  }'\'')'

# ruby and rails
alias be='bundle exec'
alias ruba'be rubocop -REa -f fu'

# docker
alias dcp='docker-compose'
alias dcpe='docker-compose exec'
alias dcpp='docker-compose ps'
alias dcpu='docker-compose up'
alias dcpd='docker-compose down'
alias dcpr='docker-compose restart'
alias drmi='docker rmi $(docker images | sed "1 d" | fzf -m | awk '\''{ print $3  }'\'')'
alias spawn_postgres='docker run --rm -p 5432:5432 --name postgres -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=postgres -d postgres:alpine'

startminikube() {
  minikube start --insecure-registry=192.168.99.1:5000
  # minikube already changes context on `start`
  # kubectl config use-context minikube
  eval $(minikube docker-env)
}

stopminikube() {
  minikube stop
  eval $(minikube docker-env -u)
}

update() {

  {{- if eq .chezmoi.os "linux" }}
  yay -Syu
  {{- end }}

  {{- if eq .chezmoi.os "darwin" }}
  brew update
  brew upgrade
  brew cask upgrade
  brew cleanup
  {{- end }}

  nvim +PlugUpgrade +PlugUpdate +qall
}
