# -*- mode: sh; -*-

alias wakeDesk='wakeonlan -i $homeIP -p 7 $deskMAC'

alias t='tmux'
alias tx='tmuxinator'
alias txstart='tmuxinator list -n | tail -n +2 | fzf | xargs tmuxinator start'
alias e='emacs'

# files listing
alias lsnotes='rg -e "(TODO|FIXME|OPTIMIZE|REVIEW)"'
alias lsfiles='la | rg ^-'
alias lsdirs='la | rg ^d'

# git
alias gbD='git branch --delete $(git branch | fzf -m)'
alias gselectwip='git status -s | fzf -m | awk '\''{ print $2  }'\'''
alias gcof='gselectwip | xargs git checkout --'
alias grf='gselectwip | xargs git reset HEAD'
alias gaf='gselectwip | xargs git add'

# ruby and rails
alias be='bundle exec'

# docker
alias dcp='docker-compose'
alias dcpe='docker-compose exec'
alias dcpp='docker-compose ps'
alias dcpu='docker-compose up'
alias dcpd='docker-compose down'
alias dcpr='docker-compose restart'
alias drmi='docker rmi $(docker images | sed "1 d" | fzf -m | awk '\''{ print $3  }'\'')'
alias spawn_postgres='docker run --rm -p 5432:5432 --name postgres -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=postgres -d postgres:alpine'
alias spawn_nginx='docker run --rm --name nginx -v $PWD:/usr/share/nginx/html -p 3000:80 -d nginx:alpine nginx -g "daemon off;"'

alias ddc='ddcctl -d 1 -b'

startminikube() {
  minikube start --insecure-registry=192.168.99.1:5000
  # minikube already changes context on `start`
  # kubectl config use-context minikube
  eval $(minikube docker-env)
}

stopminikube() {
  minikube stop
  eval $(minikube docker-env -u)
}

update() {
  tmux new-window -n  'doom' 'doom upgrade'
  tmux new-window -n 'vim' 'vim +PlugUpgrade +PlugUpdate +PlugClean +qall'
  tmux new-window -n 'asdf' 'asdf plugin-update --all'

  {{- if eq .chezmoi.os "linux" }}
  yay -Syu
  {{- end }}

  {{- if eq .chezmoi.os "darwin" }}
  update-brew
  {{- end }}
}

{{- if eq .chezmoi.os "darwin" }}
update-brew() {
  brew update
  brew upgrade
  brew cask upgrade
  brew cleanup
}
{{- end }}

syncgit() {
  pushd ~/notes
  git pull
  popd

  pushd ~/code/dotfiles
  git pull
  popd

  pushd ~/code/donamaid/api
  git pull
  popd
}

npmkill () {
  fd -H \
    -E '.vscode' \
    -E '.config' \
    -E '.local' \
    -E '.npm' \
    -E '.nodenv' \
    -t 'd' 'node_modules' . \
    -x du {} \
  | sort -rnk1 \
  | awk '{ print $2 }' \
  | xargs du -sh \
  | fzf -m \
  | awk '{ print $2 }' \
  | xargs -p -n1 rm -rf
}

function video-to-gif() {
  movie=$1
  height=$(mdls -name kMDItemPixelHeight ${movie} | rg -o '[0-9]+')
  width=$(mdls -name kMDItemPixelWidth ${movie} | rg -o '[0-9]+')
  dimensions="${width}x${height}"
  filename=$(basename "$movie")
  name="${filename%.*}"
  ffmpeg -i ${movie} -s ${dimensions} -pix_fmt rgb24 -r 10 -f gif ${name}.gif
}
