[user]
{{- if eq .chezmoi.hostname "joaofnds-m1" }}
  email = joao.fernandes@skillshare.com
  name = João Fernandes
  signingkey = 7100D487EC8FE848BD9F0F2D42EE6AA15504ACF2
{{- else }}
  email = joaofnds@joaofnds.com
  name = João Fernandes
  signingkey = 1D7295B27D3BC292068A6533064E0BACE9889F9C
{{- end }}

[format]
  signoff = true

[commit]
  gpgsign = true

[color]
  ui = true

[core]
  excludesFile = ~/.gitignore
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[github]
  user = joaofnds

[diff]
  algorithm = histogram
  indentHeuristic = true
  colorMoved = default

[pull]
  rebase = true

[init]
  defaultBranch = main

[gpg]
{{- if eq .chezmoi.hostname "joaofnds-m1" }}
  program = /opt/homebrew/bin/gpg
{{- else }}
  program = /usr/local/bin/gpg
{{ end }}

[delta]
  plus-style = "syntax #1a412b"
  minus-style = "syntax #3b3639"
  syntax-theme = "Solarized (dark)"
  true-color = always
