font-family = {{ .ghostty.font.family }}
font-size = {{ .ghostty.font.size }}
macos-option-as-alt = false
macos-titlebar-style = transparent
quit-after-last-window-closed = true
theme = builtin solarized dark
window-height = 50
window-padding-x = 0
window-padding-y = 0
window-width = 130
