font-family = {{ .ghostty.font.family }}
font-feature = -calt
font-feature = -dlig
font-feature = -liga
font-size = {{ .ghostty.font.size }}
macos-option-as-alt = false
macos-titlebar-style = transparent
quit-after-last-window-closed = true
theme = Builtin Solarized Dark
window-height = 50
window-padding-x = 0
window-padding-y = 0
window-width = 130
