{{- if eq .chezmoi.os "linux" }}
;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   see https://github.com/jaagr/polybar
;
;==========================================================

[colors]
base00 = ${xrdb:color0:#000000}
base01 = ${xrdb:color10:#000000}
base02 = ${xrdb:color11:#000000}
base03 = ${xrdb:color8:#000000}
base04 = ${xrdb:color12:#000000}
base05 = ${xrdb:color7:#000000}
base06 = ${xrdb:color13:#000000}
base07 = ${xrdb:color15:#000000}
base08 = ${xrdb:color1:#000000}
base09 = ${xrdb:color9:#000000}
base0A = ${xrdb:color3:#000000}
base0B = ${xrdb:color2:#000000}
base0C = ${xrdb:color6:#000000}
base0D = ${xrdb:color4:#000000}
base0E = ${xrdb:color5:#000000}
base0F = ${xrdb:color14:#000000}

background = ${self.base00}
foreground = ${self.base05}
primary = ${self.base0A}
secondary = ${self.base0B}
alert = ${self.base0C}

[bar/top]
width = 100%
height = 42

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 5
line-color = ${colors.primary}

padding-left = 0
padding-right = 2

module-margin-left = 2
module-margin-right = 2

font-0 = Fira Code:size=16;4
font-1 = Fura Code Nerd Font:size=20;4
font-2 = NotoEmoji-Regular:scale=6;2
font-3 = unifont:fontformat=truetype:size=8:antialias=false;0
font-4 = siji:pixelsize=10;1

modules-left = i3
modules-center =
modules-right = alsa memory cpu eth datetime powermenu

tray-position = right
tray-padding = 2

cursor-click = pointer
cursor-scroll = ns-resize

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %index% %icon%
label-focused-background = ${colors.background}
label-focused-underline= ${colors.secondary}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %index% %icon%
label-unfocused-padding = 2

; visible = Active workspace on unfocused monitor
label-visible = %index% %icon%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %index% %icon%
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

; Separator in between workspaces
; label-separator = |

ws-icon-0 = 1;
ws-icon-1 = 2;(ﬦ)
ws-icon-2 = 3;
ws-icon-3 = 4;聆
ws-icon-4 = 5;
ws-icon-5 = 6;
ws-icon-6 = 7;
ws-icon-7 = 8;
ws-icon-8 = 9;
ws-icon-9 = 10;

[module/cpu]
type = internal/cpu
interval = 0.5
format = <label> <ramp-coreload>
label = 

ramp-coreload-0 = ▁
ramp-coreload-0-foreground = ${colors.base0B}
ramp-coreload-1 = ▂
ramp-coreload-1-foreground = ${colors.base0B}
ramp-coreload-2 = ▃
ramp-coreload-2-foreground = ${colors.base0B}
ramp-coreload-3 = ▄
ramp-coreload-3-foreground = ${colors.base0A}
ramp-coreload-4 = ▅
ramp-coreload-4-foreground = ${colors.base0A}
ramp-coreload-5 = ▆
ramp-coreload-5-foreground = ${colors.base09}
ramp-coreload-6 = ▇
ramp-coreload-6-foreground = ${colors.base09}
ramp-coreload-7 = █
ramp-coreload-7-foreground = ${colors.base08}

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground}
label = %percentage_used%%

[module/eth]
type = internal/network
interface = eth1
interval = 3.0

format-connected-underline = ${colors.background}
format-connected-prefix = "力 "
format-connected-prefix-foreground = ${colors.foreground}
label-connected = %local_ip%

format-disconnected = <label-disconnected>
format-disconnected-prefix = "🙅‍ "
format-disconnected-underline = ${self.format-connected-underline}
label-disconnected = %ifname% disconnected
label-disconnected-foreground = ${colors.foreground}

[module/datetime]
type = internal/date
format =  <label>

date = %d-%m-%Y
date-alt = %A, %d %B %Y

time = %H:%M
time-alt = %H:%M:%S

label = %time% %date%

[module/alsa]
type = internal/alsa

format-volume = <label-volume> <bar-volume>
label-volume = 墳
label-volume-foreground = ${root.foreground}

label-muted = 

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground}

[settings]
screenchange-reload = true

[global/wm]
margin-top = 5
margin-bottom = 5

[module/powermenu]
type = custom/text
content = 
content-padding = 2
click-left = ~/.bin/power_menu
click-right = ~/.bin/power_menu

{{- end }}
