{:paths ["src"]

 :deps {org.clojure/clojure       {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.879"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts ["-m" "cognitect.test-runner"]}

  :test/kaocha
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.887"}}
   :main-opts   ["-m" "kaocha.runner"]}

  :repl/nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}}
   :main-opts  ["-m" "nrepl.cmdline" "-i"]}

  :repl/cider
  {:extra-deps {nrepl/nrepl                   {:mvn/version "0.8.3"}
                cider/cider-nrepl             {:mvn/version "0.26.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                "-i"]}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org"}}}
