{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases
 {:test {:extra-paths ["test"]}
  :rebl {:extra-deps {com.cognitect/rebl          {:mvn/version "0.9.242"}
                      org.openjfx/javafx-fxml     {:mvn/version "15-ea+6"}
                      org.openjfx/javafx-controls {:mvn/version "15-ea+6"}
                      org.openjfx/javafx-swing    {:mvn/version "15-ea+6"}
                      org.openjfx/javafx-base     {:mvn/version "15-ea+6"}
                      org.openjfx/javafx-web      {:mvn/version "15-ea+6"}
                      ;; deps for file datafication
                      org.clojure/data.csv        {:mvn/version "1.0.0"}
                      org.clojure/data.json       {:mvn/version "1.0.0"}
                      org.yaml/snakeyaml          {:mvn/version "1.27"}}
         :main-opts ["-m" "cognitect.rebl"]}}

 :mvn/repos {"cognitect-dev-tools"
             {:url "https://dev-tools.cognitect.com/maven/releases/"}}}
