; -*- mode: emacs-lisp; lexical-binding: t; -*-

(require 'tmux-pane)

(setq user-full-name "João Fernandes"
      user-email-address "joaofnds@joaofnds.com"

      make-backup-files nil

      initial-frame-alist '((width . 120)
                            (height . 50)
                            (ns-transparent-titlebar t))

      tab-width 2
      indent-tabs-mode nil

      visual-fill-column-width 120
      visual-fill-column-center-text t

      display-line-numbers t
      display-line-numbers-type 'relative
      display-line-numbers-current-absolute t

      doom-theme 'doom-solarized-dark
      doom-themes-enable-bold t
      doom-themes-enable-italic t
      {{- if eq .chezmoi.os "darwin"}}
      doom-font (font-spec :family "Iosevka SS08" :weight 'light :size 18)
      doom-big-font (font-spec :family "Iosevka SS08" :weight 'light :size 24)
      {{- end}}
      {{- if eq .chezmoi.os "linux"}}
      doom-font (font-spec :family "Iosevka SS08" :weight 'normal :size 28)
      doom-big-font (font-spec :family "Iosevka SS08" :weight 'normal :size 34)
      {{- end}}

      ;; org
      org-directory "~/notes/"

      projectile-project-search-path '("~/code/")
      projectile-enable-caching nil

      +ivy-project-search-engines '(ag)

      dired-dwim-target t)

(defalias 'forward-evil-word 'forward-evil-symbol)

(after! org
  (map! :map org-mode-map
        :n "M-j" #'org-metadown
        :n "M-k" #'org-metaup)
  (setq org-todo-keywords '((sequence "TODO(t)" "PROJ(p!)" "|" "DONE(d!)")
                            (sequence "[ ](T)"  "[-](P)"  "[?](M@)" "|" "[X](D!)")
                            (sequence "NEXT(n)" "WAIT(w@/!)" "HOLD(h@/!)" "|" "ABRT(c@)"))
        org-superstar-headline-bullets-list '("⁖")
        ;; The column to which tags should be indented in a headline
        org-tags-column -80
        ;; Non-nil means undone TODO entries will block switching the parent to DONE
        org-enforce-todo-dependencies t
        ;; Non-nil means unchecked boxes will block switching the parent to DONE
        org-enforce-todo-checkbox-dependencies t
        ;; Information to record when a task moves to the DONE state.
        org-log-done 'time
        ;; Non-nil means insert state change notes and time stamps into a drawer
        org-log-into-drawer t))

(add-hook! '(go-mode-hook js2-mode-hook enh-ruby-mode-hook)
           #'(hs-minor-mode lsp-deferred yas-minor-mode))

(add-hook 'org-mode-hook #'yas-minor-mode)
(add-hook 'emacs-lisp-mode-hook #'hs-minor-mode)

(add-to-list 'hs-special-modes-alist
             '(ruby-mode "\\(def\\|do\\|class\\|begin\\|ensure\\|if\\|unless\\|{\\)"
                         "\\(end\\|end\\|end\\|end\\|end\\|end\\|end\\|}\\)"
                         "#"
                         (lambda (arg) (ruby-end-of-block))
                         nil))

(map! :leader
      :n "l d" #'lsp-find-definition
      :n "l R" #'lsp-find-references
      :n "l r" #'lsp-rename
      :n "l f" #'lsp-format-region
      :n "l F" #'lsp-format-buffer)

(tmux-pane-mode t)
(evil-lion-mode t)
