# -*- mode: yaml -*-

env:
  TERM: alacritty

window:
  dimensions:
    columns: 120
    lines: 45

  padding:
    x: 0
    y: 0

  {{- if eq .chezmoi.os "darwin" }}
  decorations: buttonless
  {{- end }}

font:
  normal:
    family: {{ .alacritty.font.family }}
    style: Light

  bold:
    style: Bold

  italic:
    style: Light Italic

  bold_italic:
    style: Bold Italic

  size: {{ .alacritty.font.size }}

  {{- if eq .chezmoi.os "darwin" }}
  use_thin_strokes: true
  {{- end }}

live_config_reload: true

schemes:
  solarized_light: &light
    primary:
      background: "#fdf6e3"
      foreground: "#657b83"
    cursor:
      text: "#fdf6e3"
      cursor: "#657b83"
    normal:
      black: "#073642"
      red: "#dc322f"
      green: "#859900"
      yellow: "#b58900"
      blue: "#268bd2"
      magenta: "#d33682"
      cyan: "#2aa198"
      white: "#eee8d5"
    bright:
      black: "#002b36"
      red: "#cb4b16"
      green: "#586e75"
      yellow: "#657b83"
      blue: "#839496"
      magenta: "#6c71c4"
      cyan: "#93a1a1"
      white: "#fdf6e3"

  solarized_dark: &dark
    primary:
      background: "#002b36"
      foreground: "#839496"
    cursor:
      text: "#002b36"
      cursor: "#839496"
    normal:
      black: "#002b36"
      red: "#dc322f"
      green: "#859900"
      yellow: "#b58900"
      blue: "#268bd2"
      magenta: "#d33682"
      cyan: "#2aa198"
      white: "#eee8d5"
    bright:
      black: "#586e75"
      red: "#cb4b16"
      green: "#586e75"
      yellow: "#657b83"
      blue: "#839496"
      magenta: "#6c71c4"
      cyan: "#93a1a1"
      white: "#fdf6e3"

  monokai_pro: &monokai_pro
    primary:
      background: '#2D2A2E'
      foreground: '#FCFCFA'
    normal:
      black:   '#403E41'
      red:     '#FF6188'
      green:   '#A9DC76'
      yellow:  '#FFD866'
      blue:    '#FC9867'
      magenta: '#AB9DF2'
      cyan:    '#78DCE8'
      white:   '#FCFCFA'
    bright:
      black:   '#727072'
      red:     '#FF6188'
      green:   '#A9DC76'
      yellow:  '#FFD866'
      blue:    '#FC9867'
      magenta: '#AB9DF2'
      cyan:    '#78DCE8'
      white:   '#FCFCFA'

colors: *dark

{{- if eq .chezmoi.os "darwin" }}
key_bindings:
  - { key: A, mods: Alt, chars: "\x1ba" }
  - { key: B, mods: Alt, chars: "\x1bb" }
  - { key: C, mods: Alt, chars: "\x1bc" }
  - { key: D, mods: Alt, chars: "\x1bd" }
  - { key: E, mods: Alt, chars: "\x1be" }
  - { key: F, mods: Alt, chars: "\x1bf" }
  - { key: G, mods: Alt, chars: "\x1bg" }
  - { key: H, mods: Alt, chars: "\x1bh" }
  - { key: I, mods: Alt, chars: "\x1bi" }
  - { key: J, mods: Alt, chars: "\x1bj" }
  - { key: K, mods: Alt, chars: "\x1bk" }
  - { key: L, mods: Alt, chars: "\x1bl" }
  - { key: M, mods: Alt, chars: "\x1bm" }
  - { key: N, mods: Alt, chars: "\x1bn" }
  - { key: O, mods: Alt, chars: "\x1bo" }
  - { key: P, mods: Alt, chars: "\x1bp" }
  - { key: Q, mods: Alt, chars: "\x1bq" }
  - { key: R, mods: Alt, chars: "\x1br" }
  - { key: S, mods: Alt, chars: "\x1bs" }
  - { key: T, mods: Alt, chars: "\x1bt" }
  - { key: U, mods: Alt, chars: "\x1bu" }
  - { key: V, mods: Alt, chars: "\x1bv" }
  - { key: W, mods: Alt, chars: "\x1bw" }
  - { key: X, mods: Alt, chars: "\x1bx" }
  - { key: Y, mods: Alt, chars: "\x1by" }
  - { key: Z, mods: Alt, chars: "\x1bz" }
  - { key: Period, mods: Alt, chars: "\x1b." }
{{- end }}
