#!/usr/bin/env zsh

tmux split-window 'PATH=/usr/bin:$PATH doom --yes upgrade'
tmux new-window 'nvim +PackerSync'
tmux split-window 'asdf-install-latest'

{{- if eq .chezmoi.os "linux" }}
paru
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
update-brew
{{- end }}
